body {
    text-align: center;
}

video {
    margin: 5px;
    border: 4px solid;
    border-radius: 4px;
    width: 320px;
    height: 240px;
}

button {
    margin: 10px 6px;
    padding: 8px 10px;
    font-size: 16px;
    border: none;
    background-color: #f55;
    cursor: pointer;
}